<h3 class="bg-dark text-white p-2">Update task</h3>
<form class="p-3" [formGroup]="editTaskForm" action="">
    <div class="form-group mb-3">
        <label for="title">Title:</label>
        <input id="title" formControlName="title" type="text" class="form-control">
    </div>
    <div class="form-group mb-3">
        <label for="status">Status:</label>
        <select class="form-select" formControlName="status" id="status">
            <option value="active">Active</option>
            <option value="done">Done</option>
        </select>
    </div>
    <!-- <div class="form-group mb-5">
        <label for="description">Description:</label>
        <input id="description" formControlName="description" type="text" class="form-control">
    </div> -->
    <div class="d-flex justify-content-center align-items-center">
        <input (click)="onSubmit()" class="btn btn-primary px-5 me-5" type="submit" />
        <button (click)="closeModal()" class="btn btn-danger px-5">Close</button>
    </div>
</form>
